$color-orange: #f2693e;
$color-green: #197D72;
$color-text: #4a4a4a;


// scroll

::-webkit-scrollbar {
   width: 5px;
}

// Track
::-webkit-scrollbar-track {
   background: transparent;
}

// Handle
::-webkit-scrollbar-thumb {
   background: $color-orange;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
   background: $color-green;
}

.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 99999;
   text-align: center;
   background-color: #fff;
   cursor: progress;

   .loading {
      position: absolute;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      color: #f2693e;

      p {
         margin-top: -40px;
      }
   }
}

/* hamburger */
.hamburger {
   border: none !important;
   padding: 1rem !important;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
   height: 2px !important;
   border-radius: 0 !important;
   background-color: #f16134 !important;
}


.hvr-underline-from-left {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   position: relative;
   overflow: hidden;
}

.hvr-underline-from-left:before {
   content: "";
   position: absolute;
   z-index: -1;
   left: 0;
   right: 100%;
   bottom: 0;
   background: $color-orange;
   height: 2px;
   -webkit-transition-property: right;
   transition-property: right;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
   right: 0;
}


.hvr-grow {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-property: transform;
   transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}


@-webkit-keyframes hvr-bob {
   0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
   }

   50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
   }

   100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
   }
}

@keyframes hvr-bob {
   0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
   }

   50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
   }

   100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
   }
}

@-webkit-keyframes hvr-bob-float {
   100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
   }
}

@keyframes hvr-bob-float {
   100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
   }
}

.hvr-bob {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-animation-name: hvr-bob-float, hvr-bob;
   animation-name: hvr-bob-float, hvr-bob;
   -webkit-animation-duration: .3s, 1.5s;
   animation-duration: .3s, 1.5s;
   -webkit-animation-delay: 0s, .3s;
   animation-delay: 0s, .3s;
   -webkit-animation-timing-function: ease-out, ease-in-out;
   animation-timing-function: ease-out, ease-in-out;
   -webkit-animation-iteration-count: 1, infinite;
   animation-iteration-count: 1, infinite;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
   -webkit-animation-direction: normal, alternate;
   animation-direction: normal, alternate;

}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
   animation: none;
   transition: animation 1s ease-in;
}