@font-face {
   font-family: AvenirNext-Bold;
   src: url('../font/AvenirNext-DemiBold.ttf');
   font-display: swap;
}

@font-face {
   font-family: AvenirNext-DemiBold;
   src: url('../font/AvenirNext-DemiBold.ttf');
   font-display: swap;
}

@font-face {
   font-family: AvenirNext-Heavy;
   src: url('../font/AvenirNext-Heavy.ttf');
   font-display: swap;
}

@font-face {
   font-family: AvenirNext-Medium;
   src: url('../font/AvenirNext-Medium.ttf');
   font-display: swap;
}

@font-face {
   font-family: AvenirNext-Regular;
   src: url('../font/AvenirNext-Regular.ttf');
   font-display: swap;
}

@font-face {
   font-family: AvenirNext-light;
   src: url('../font/AvenirNext-UltraLight.ttf');
   font-display: swap;
}

@font-face {
   font-family: FontAwesome;
   src: url('../libraries/fontawesome/webfonts/fa-solid-900.ttf');
   font-display: swap;
}